@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'pop';
    font-family: "Poppins", sans-serif;
}

.container{
    background-color: #2c2c2c;
    height: 100vh;
    width: 100%;
   
}
.container form{
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box{
    background-color: white;
    position: relative;
    height: 80%;  
    width: 25%;
   
}
.form-box h1{
    position: relative;
    left: 30%;
    /* margin-bottom: 30px; */
    color: rgb(169, 11, 201);
    min-height: 100px;
}
.input-field{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 23px 5px 12px 5px;
    margin-left: 12px;
    transition: display 2s ease-in-out .5s;

}
.input-field input{
    width:70%;
}
.form-box p{
    margin-left: 15%;
    margin-top: -10px;
    font-size: 11.5px;
}
.form-box button{
    padding: 7px 18px;
    border-radius: 20px;
    border: none;
    margin-top: 23px;
    margin-left: 15%;
    background-color: rgb(169, 11, 201);
    margin-bottom: 10px;
    font-weight: 400;
}
.btn{
    transition: background-color 0.5s;
}
